body {
    background-color: #957FEF;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
}

.avatar {
    display: block;
    margin: 20px auto;
    width: 150px;
}

p {
    text-align: center;
}

h2{
	padding-left: 10%;
}

ul, ol {
    padding-left: 12%;
}

ul li, ol li {
    margin: 5px 0;
}